.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.appHeader {
    width: 30%;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.convertor {
    width: 30%;
    background-color: #ccc;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.appHeader span {
    font-size: 1.5rem;
}
.appHeader h1 {
    letter-spacing: 2px;
}

.App input {
    padding: 0.4rem 1rem;
    font-size: 1.4rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.App select {
    cursor: pointer;
    font-size: 1.4rem;
    padding: 0.4rem 1rem;
}